@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hamburger menu styles */
.hamburger line {
  stroke: white;
  stroke-width: 6px;
  transform-origin: center;
}

.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.navigation li {
  overflow: hidden;
}

/* Disable transitions so they don't conflict with GSAP */
.menu, .navigation li, .hamburger line {
  /* Remove transition as GSAP will handle this */
  transition: none;
}
